/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');
/* latin-ext */
@font-face {
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/habibi/v21/CSR-4zFWkuqcTTNyQxhfRuUiSOt_.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/habibi/v21/CSR-4zFWkuqcTTNyTRhfRuUiSA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/irishgrover/v23/buExpoi6YtLz2QW7LA4flVgv__RPSC8ocg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media (min-width: 428px){
    
h1 {
    font-size: 2.5em;
    padding: 10px 0;
    
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
h1, h2, h3 {
    font-family: 'Irish Grover';
}
header {
    max-width: 100%;
    background-color: var(--green);
    color: var(--white);
    text-align: center;
}
header p {
    padding-bottom: 10px;
}
nav h2 {
    display: none;
}
.links{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
}
ul li {
    background-color: var(--orange);
    width: 250px;
    padding: 10px;
    border: 2px solid var(--white);
    border-radius: 5px;
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--white);
}
#top {
    background-color: var(--orange);
    border: 2px solid var(--white);
    border-radius: 5px;
    padding: 10px 3px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
main{
    max-width: 100%;
    padding: 1em;
}
p {
    line-height: 1.75em;
    margin-bottom: 20px;
}
.fruit-grid {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 15px;
    margin-bottom: 30px;
}
.veg-grid {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 15px;
    margin-bottom: 30px;
}
figure {
    position: relative;
}
figure figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    transform: translate(-50%, -50%);

}
footer {
    background-color: var(--green);
}
.operating-hours, .contact-info{
    max-width: 100%;
    color: var(--white);
    text-align: center;
    padding: 20px 0 15px 0;
}
.operating-hours h2, .contact-info h2{
    padding-bottom: 15px;
}
/* .operating-hours dl {
    width: 50%;
    margin: 0 auto;
} */
/* .operating-hours dt, .operating-hours dd {
    display: inline-block;
} */
.copyright {
    display: block;
    color: var(--green);
    background-color: var(--white);
    text-align: center;
    padding: 5px;
}
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media (min-width: 834px) {
 header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 } 
 .links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    margin: 10px auto;
    justify-items: center;
}
.fruit-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 15px;
    margin-bottom: 30px auto;
}
.fruit-grid h3 {
    grid-column: 1 / -1;
    justify-self: center;
}
.fruit-grid figure {
    justify-self: center;
}
.veg-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 15px;
    margin-bottom: 30px auto;
}
.veg-grid h3 {
    grid-column: 1 / -1;
    justify-self: center;
}
.veg-grid figure {
    justify-self: center;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.copyright {
    grid-column: 1 / -1;
}
.contact-info {
    align-self: center;
}
}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 1280px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-start;
        padding: 15px;
    }
    .links {
        display: flex;
        position: absolute;
        top: 45px;
        right: 45px;
    }
    .fruit-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 15px;
        margin-bottom: 30px auto;
    }
    .fruit-grid h3 {
        grid-column: 1 / -1;
        justify-self: center;
    }
    .fruit-grid figure {
        justify-self: center;
    }
    .veg-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 15px;
        margin-bottom: 30px auto;
    }
    .veg-grid h3 {
        grid-column: 1 / -1;
        justify-self: center;
    }
    .veg-grid figure {
        justify-self: center;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .copyright {
        grid-column: 1 / -1;
    }
    .contact-info, .operating-hours {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: start;

    }
}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media (min-width: 1440px) {
    .fruit-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .veg-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}